@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 16;
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>======================================================================================================= 

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	font-weight: $fontWeight;
	color: $mainColor;
	// background: #333;

	a {
		font-family: "Lato";
		color: #1a1818;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 32px;
	line-height: 33 / 32 *100%;
	font-weight: 700;
}

h2 {
	font-size: 32px;
	line-height: 33 / 32 *100%;
	font-weight: 700;
}

h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
}

h4 {
	font-size: 26px;
	line-height: 31.2 / 26 *100%;
}

.title {
	text-align: center;
	color: #222222;
	margin-bottom: 38px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}
}

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox";
@import "datepicker";
@import "lightgallery";
//@import "popover.min";
//@import "baguetteBox";
// @import "fancybox.min";
//@import "pagging";
// @import "map";
// @import "slider-index";
// @import "catalog";
// @import "collection";
@import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0;
	// padding-top: 80px;
	padding-bottom: 35px;
}

.page__inner {
	._container {
		display: flex;
		justify-content: space-between;
	}

}

.section {
	padding: 0 0;
}

//===================================================================================================================================

.page-index__main-content {}

.page-index__time-work {
	margin-bottom: 25px;
}

.page-index__banner {
	margin-bottom: 43px;
}

.page-index__time-work {}

.page-index__ {}

//========================================================================================================================================================


.main-content {
	flex: 1 1 auto;
}

.page-index__sidebar {
	margin-left: 23px;
}

.sidebar {
	flex: 0 0 23.7%;
}

//========================================================================================================================================================

.banner {
	display: block;
	padding-bottom: 9.9%;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

//========================================================================================================================================================

.info__inner-cards {
	display: flex;
	margin: 0 -12.5px;
	flex-wrap: wrap;
}

.info__column {
	display: flex;
	padding: 0 12.5px 25px 12.5px;
	flex: 0 1 33.333%;
}

.info__card {}

.card-info {
	flex: 0 1 100%;
	overflow: hidden;
	border-radius: 12.37px;
	padding-bottom: 56%;
}

._ibg {}

//========================================================================================================================================================

.time-work {
	padding: 28px;
	border-radius: 12.62px;
	background: #f4f4f4;
}

.time-work__title {
	margin-bottom: 26px;
}

.time-work__descp {
	p {
		font-size: 18px;
		line-height: 22px;
		color: #161615;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

//========================================================================================================================================================

.audio-advertising {}

.audio-advertising__title {
	margin-bottom: 30px;
}

.audio-advertising__inner {
	display: flex;
	margin: 0 -12.5px;
	flex-wrap: wrap;
}

.audio-advertising__column {
	display: flex;
	padding: 0 12.5px 25px 12.5px;
	flex: 0 1 33.333%;
}

.audio-advertising__card {}

.card-advertising {
	display: flex;
	flex-direction: column;
	flex: 0 1 100%;
	padding: 20px 20px 40px 20px;
	border-radius: 12.37px;
	background: #f5e4dc;
	overflow: hidden;
}

.card-advertising__title {
	margin-bottom: 20px;
}

.card-advertising__text {
	p {
		font-size: 16px;
		line-height: 22 / 16 *100%;
	}
}

//========================================================================================================================================================
.sidebar__button-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 47px;
}

.sidebar__btn {
	font-size: 22px;
	line-height: 26.4px;
	color: #fff;
	border-radius: 13.64px;
	margin-bottom: 20px;
	transition: all 0.3s ease 0s;

	&:last-child {
		margin-bottom: 0;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
}

.sidebar__poster {
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}
}

.poster {
	padding: 25px 20px;
	border-radius: 12.45px;
	background: #f4f4f4;
	overflow: hidden;
}

.poster__title {
	margin-bottom: 25px;
}

.sidebar__question {
	margin-bottom: 13px;
}

.question-sidebar {
	display: flex;
	align-items: center;
	padding: 18px 26px;
	border-radius: 12.45px;
	background: #f4f4f4;
	overflow: hidden;
	transition: all 0.3s ease 0s;

	@media (min-width: 1024px) {
		&:hover {
			color: #AE0018;
		}
	}
}

.question-sidebar__title {
	font-weight: 700;
}

.sidebar__delivery-details {}

.delivery-details {
	padding: 18px 26px;
	border-radius: 12.45px;
	background: #f4f4f4;
	overflow: hidden;
}

.delivery-details__title {
	margin-bottom: 17px;
}

.delivery-details__text {
	p {
		font-size: 16px;
		line-height: 24px;
		color: #161615;
	}
}

//========================================================================================================================================================
.text-info {
	margin-bottom: 25px;
}

.text-info__tabs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.text-info__tabs .tabs-block__nav {
	flex: 0 0 341px;
	background: #f4f4f4;
	border-radius: 12.45px;
	overflow: hidden;
	padding: 18px;
}

.text-info__tabs .tabs-block__navitem {
	font-size: 18px;
	color: #ae0018;
	margin-bottom: 30px;
	transition: all 0.3s ease 0s;

	&._active {
		color: #161615;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: 1024px) {
		&:hover {
			opacity: 0.7;
		}
	}
}

.text-info__tabs .tabs-block__item {
	padding: 0 44px;
}

.text-info__tabs-block-title {
	margin-bottom: 30px;
	max-width: 463px;
	width: 100%;
}

.text-info__tabs-block-descp p {
	font-size: 16px;
	line-height: 24px;
	color: #161615;
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}
}

.text-info__board {
	display: flex;
	flex-direction: column;
	max-width: 341px;
	width: 100%;
}

.text-info__board-item {
	padding: 8px 18px;
	border-radius: 12.45px;
	font-size: 21px;
	line-height: 27px;
	color: #161615;
	background: #f2f2f2;
	overflow: hidden;
	margin-bottom: 12px;
	transition: all 0.3s ease 0s;

	span {
		color: #AE0018;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

//========================================================================================================================================================

.poster__scoreboard {
	margin-bottom: 23px;
}

.scoreboard {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: 40.4px;
	border-radius: 10.07px;
	background: #fff;
	border: 0.5px solid #d9000d;
	overflow: hidden;
	padding: 10px 16px;
}

.scoreboard__text {
	font-size: 16px;
	line-height: 30px;
}

.poster__table {}

.table-poster {}

.table-poster__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px 0;
	border-bottom: 0.5px solid #8c8b8b;

	&:last-child {
		border-bottom: none;
	}
}

.table-poster__col {
	display: flex;
	align-items: center;
	// flex: 0 1 33.333%;
	font-size: 16px;
	line-height: 31px;
	margin-right: 30px;
	flex: 1;

	&:first-child {
		flex: 1 1 auto;
	}

	&:last-child {
		margin-right: 0;
	}
}

.table-poster__name {}

.table-poster__value {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.table-poster__indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8px;
	height: 8px;
	flex: 0 0 8px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #8C8B8B;
	margin-right: 12px;

	&.--red {
		background-color: #D9000D;
	}

	&.--green {
		background-color: #227C26;
	}
}

.table-poster__time {}

.--opacity {
	opacity: 0;
}

//========================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media";